.top-header {
    text-align: center;
    font-size: 40px;
}

.img {
  width: 100px;
  padding-bottom: 30px;
  text-align: center;
}

body {
  padding: 20px 100px 0px 100px;
  background: #f3f3f3;
}

button {
  font-family: 'Arvo';
  font-size: 3em;
  text-align: center;
}
